<header id="top-header">
    <div class="header-inner">
        <span class="siteName">
            <a href="/" title="Return to home page">CSE Motors</a>
        </span>
        <div id="tools">
            <a title="Click to log in" href="#">MY ACCOUNT</a>
        </div>
    </div>
</header>

<div class="hamburger" onclick="document.querySelector('nav ul').classList.toggle('active')">
  <span></span>
  <span></span>
  <span></span>
</div>