<nav>
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">Customer</a></li>
    <li><a href="#">Sedan</a></li>
    <li><a href="#">SUV</a></li>
    <li><a href="#">Truck</a></li>
  </ul>
</nav>