
<!-- Hero -->
<section class="hero">
    <h1>Welcome to CSE Motors!</h1> <!-- Main page heading -->  
    <%- messages() %> <!-- Flash messages will appear here -->
    <div class="hero-content">
        <h2>DCM Delorean</h2>
        <p>3 Cup holders</p>
        <p>Superman Doors</p>
        <p>Fuzzy dice!</p>
        <a href="#" class="cta-btn">Own Today</a>
    </div>
</section>

<!-- Upgrades & Reviews -->
<section class="upgrade-reviews">
<div class="left-column">
    <h2>Delorean Upgrades</h2> <!-- Subsection -->
    <div class="upgrades-grid">
    <div class="card">
        <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
        <p>Flux Capacitor</p>
    </div>
    <div class="card">
        <img src="/images/upgrades/flame.jpg" alt="Flame Decals">
        <p>Flame Decals</p>
    </div>
    <div class="card">
        <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
        <p>Bumper Stickers</p>
    </div>
    <div class="card">
        <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps">
        <p>Hub Caps</p>
    </div>
    </div>
</div>

<div class="right-column">
    <h2>DCM Delorean Reviews</h2> <!-- Another subsection -->
    <ul>
    <li>"So fast it's almost like traveling in time." (4/5)</li>
    <li>"Coolest ride on the road." (4/5)</li>
    <li>"I'm feeling McFly!." (5/5)</li>
    <li>"The most futuristic ride of our day." (4.5/5)</li>
    <li>"80's livin and I love it!" (5/5)</li>
    </ul>
</div>
</section>