<%# The title variable is passed from the controller %>
<h1><%- title %></h1>

<%# Any flash messages would go here %>

<%# The grid variable is the HTML string from our utility function %>
<%- grid %>